@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ParkView.ViewModels.BookingCartViewModel;
<div id="cart-page">
    <h1>Booking Cart</h1>
    @if (Model.BookingCart.BookingCartItems.Count > 0)
    {
        <div class="card shadow" style="width: fit-content; margin:10px auto;">
            <div class="row text-center">
                <h3 style="text-align:center; margin-left: 0px;">Park View Ooty, Ooty</h3>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <span class="material-symbols-outlined">input_circle</span>
                </div>
                <div class="col-4">
                    <span class="material-symbols-outlined">output_circle</span>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    Check-In<br><span style="font-size: 2rem; font-weight: 600;">7</span>th Sept 2023
                    </div>
                <div class="col-4">
                    Check-Out<br><span style="font-size: 2rem; font-weight: 600;">10</span>th Sept 2023
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="container text-center">
            <!--<div class="row">
                <div class="col-3" id="cart-heading">
                    Room Type
                </div>
                <div class="col-2" id="cart-heading">
                    Number of Rooms
                </div>
            </div>-->
            <h3>Selected Rooms</h3>
            <hr>
            @foreach( var item in Model.BookingCart.BookingCartItems)
            {
                <div class="card shadow" style="width: fit-content; margin:10px auto;">
                    <div class="card-body" style="display:flex; flex-direction:row; align-content:space-evenly;">
                        <img src="@Url.Content(@item.RoomCategory.ImageUrl)" id="cart-image">
                        <h5 class="card-title" id="room-type">@item.RoomCategory.CategoryName</h5>
                        <h5 class="card-title">
                            <a asp-controller="BookingCart" asp-action="RemoveFromBookingCart" asp-route-bookingCartItemId="@item.BookingCartItemId" class="btn btn-secondary">-</a>
                        </h5>
                        <h5 class="card-title">@item.quantity</h5>
                        <h5 class="card-title">
                            <a asp-controller="BookingCart" asp-action="AddToBookingCart" asp-route-RoomCategoryId="@item.RoomCategoryId" class="btn btn-secondary">+</a>
                        </h5>
                    </div>
                </div>
            }
            <hr>
            <a asp-controller="BookingCart" asp-action="ClearBookingCart" class="btn btn-warning" style="margin: 10px 0px">Clear Cart</a>
        </div>
        <div id="bottom-items">
            <h5 id="coupon"><vc:coupon-menu></vc:coupon-menu></h5>
    
            <h3>Cart Total: ₹@Model.total</h3>
            <div id="checkout-btn"><a asp-controller="BookingOrder" asp-action="Index" class="btn btn-primary">Checkout</a></div>
        </div>
    }
    else
    {
        <h3>You have not added any rooms to the cart yet...</h3>
    }
</div>
