@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<head>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>

<style>
    body {
        background-color: slategrey
    }

    h1, h3 {
        text-align: center;
        margin: 20px 0px;
    }

    h2 {
        text-align: center;
    }

    #my-signin2 {
        margin: 15px 125px;
    }
</style>
<h1 style="color:white">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border border-2" style="background-color: white; border-radius: 10px">
        <section>
            <form id="account" method="post">
                <h2>Enter your Credentials</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
        <section>
            <hr />
            <h3>Or</h3>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p id="external-para">
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <div id="my-signin2">
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    </div>
                                    <script>
                                        function onSuccess(googleUser) {
                                            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                                        }
                                        function onFailure(error) {
                                            console.log(error);
                                        }
                                        function renderButton() {
                                            gapi.signin2.render('my-signin2', {
                                                'scope': 'profile email',
                                                'width': 240,
                                                'height': 50,
                                                'longtitle': true,
                                                'theme': 'dark',
                                                'onsuccess': onSuccess,
                                                'onfailure': onFailure
                                            });
                                        }
                                    </script>

                                    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
