@{
    ViewData["Title"] = "Home Page";



}

@section Scripts {
    <script src="~/frontend/main.js" asp-append-version="true"></script>
    <script src="~/frontend/polyfills.js"></script>
    <script src="~/frontend/runtime.js"></script>
    <script src="~/frontend/vendor.js"></script>
}

@section head { 
    <link href="~/frontend/styles.css" rel="stylesheet" />
}

@*<app-root></app-root>*@

@model ParkView.ViewModels.IndexViewModel;

<partial name="_SearchFormPartial" >

@if( Model.rooms.Count > 0 ){
        <h3 style="margin: 10px 0px; text-align: center">Room availablity at @Model.searchHotelName</h3>
        <div style="display: grid; grid-template-columns: repeat(4, 1fr);">
            @for (int i = 0; i < Model.roomTypeNames.Length; i++)
            {
                if (Model.availableRooms[i] > 0)
                {
                    <div class="card shadow" style="width: auto; margin: 15px 10px">
                        <img src="@Url.Content(@Model.imageUrls[i])" class="card-img-bottom" alt="..." height="250" style="object-fit: cover; object-position: 50% 50%;">
                        <div class="card-body">
                            <h5 class="card-text">@Model.roomTypeNames[i]</h5>
                            <p>Available Rooms: @Model.availableRooms[i]</p>
                            <a class="btn btn-success" asp-controller="BookingCart" asp-action="AddToBookingCart" asp-route-RoomCategoryId=@(i+1)>Book Now</a>
                        </div>
                    </div>
                }
                else
                {
                    <h3>Sorry, no rooms available at the moment.</h3>
                }
            }
        </div>

        //button to navigate/reload the home page

        <div style="display:none">@Model.rooms.RemoveAll;</div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index" style="margin: 15px 10px">Back to Home Page</a>
    }
    else
    {
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img height="700" src="@Url.Content("~/images/pool.jpg")" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img height="700" src="@Url.Content("~/images/resort.webp")" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img height="700" src="@Url.Content("~/images/golf.jpg")" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <br />

        <br />
        <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="card shadow m-3">
                <img src="@Url.Content("~/images/presidential-suite.jpg")" class="card-img-top" alt="..." height="250" style="object-fit: cover; object-position: 50% 50%;">
                <div class="card-body">
                    <h3 class="card-text">Presidential Suites</h3>
                </div>
            </div>
            <div class="card shadow m-3">
                <img src="@Url.Content("~/images/executive.jpg")" class="card-img-top" alt="..." height="250" style="object-fit: cover; object-position: 50% 50%;">
                <div class="card-body">
                    <h3 class="card-text">Executive Suites</h3>
                </div>
            </div>
            <div class="card shadow m-3">
                <img src="@Url.Content("~/images/super-deluxe.jpg")" class="card-img-top" alt="..." height="250" style="object-fit: cover; object-position: 50% 50%;">
                <div class="card-body">
                    <h3 class="card-text">Super Deluxe Rooms</h3>
                </div>
            </div>
            <div class="card shadow m-3">
                <img src="@Url.Content("~/images/deluxe.jpeg")" class="card-img-top" alt="..." height="250" style="object-fit: cover; object-position: 50% 50%;">
                <div class="card-body">
                    <h3 class="card-text">Deluxe Rooms</h3>
                </div>
            </div>
        </div>

        <app-root></app-root>
    }

