@{
    ViewData["Title"] = "Home Page";



}



}
@section Scripts {
    <script src="~/frontend/main.js" asp-append-version="true"></script>
    <script src="~/frontend/polyfills.js"></script>
    <script src="~/frontend/runtime.js"></script>
    <script src="~/frontend/vendor.js"></script>
}

@section head { 
    <link href="~/frontend/styles.css" rel="stylesheet" />
}

@*<app-root></app-root>*@

@model ParkView.ViewModels.IndexViewModel;

<partial name="_SearchFormPartial" >


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  height="700" src="@Url.Content("~/images/pool.jpg")" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
                <img height="700" src="@Url.Content("~/images/resort.webp")" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
                <img height="700" src="@Url.Content("~/images/golf.jpg")" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br /><br />
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-6">
                <div class="card shadow" style="max-width: auto; margin: 15px 10px">
                    <img src="@Url.Content("~/images/presidential-suite.jpg")" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h3 class="card-text">Presidential Suites</h3>
                    </div>
                </div>
        </div>
        <div class="col-6">
                <div class="card shadow" style="max-width: auto; margin: 15px 10px">
                    <img src="@Url.Content("~/images/executive.jpg")" class="card-img-top" alt="..." height="250">
                <div class="card-body">
                    <h3 class="card-text">Executive Suites</h3>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-6">
                <div class="card shadow" style="max-width: auto; margin: 15px 10px">
                    <img src="@Url.Content("~/images/super-deluxe.jpg")" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h3 class="card-text">Super Deluxe Rooms</h3>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow" style="max-width: auto; margin: 15px 10px">
                    <img src="@Url.Content("~/images/deluxe.jpeg")" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h3 class="card-text">Deluxe Rooms</h3>
                    </div>
                </div>
            </div>
        </div>
</div>



@if( Model.rooms.Count > 0 )
    {
        @foreach (var item in Model.rooms)
        {
            // Code for Sairama
          
        }

        //button to navigate/reload the home page
    }
    else
    {
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img height="400" src="https://www.tourmyindia.com/destination_india/image/north-india-banner.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img height="400" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXv1_nEMZiz5I-_hqjHscWqxEzx14oKYJnVw&usqp=CAU" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img height="400" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/14AF0/production/_126902748_gettyimages-1031430214-170667a.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <app-root></app-root>
        
    }

